<strong>Olá {{ courierName }} </strong>
<p>Acabou de ser registrada uma nova entrega para você realizar. Confira as informações abaixo:</p>
<ul>
  <li><strong>Produto:</strong> {{ deliveryProduct }} </li>
  <li><strong>Destinatário:</strong> {{ recipientName }} </li>
  <li><strong>Endereço:</strong> {{ recipientAddress }} </li>
  <li><strong>Cidade:</strong> {{ recipientCity }} </li>
  <li><strong>Estado:</strong> {{ recipientState }} </li>
  <li><strong>CEP:</strong> {{ recipientZip }} </li>
</ul>
<br />
<small>Lembrando que a retirada dos produtos para entrega devem ser feitos entre às 08h00 até às 17h59</small>
